
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);

/******************* GENERAL *******************/

* {margin: 0; padding: 0;}

html, body {min-height: 100%;}

body {
    background-color: #ffffff;
}

.cursor-default { cursor: default; }
.cursor-move { cursor: move; }
.cursor-pointer { cursor: pointer; }

.no-padding { padding: 0px !important; }
.no-padding-top { padding-top: 0px; }
.no-padding-right { padding-right: 0px; }
.no-padding-bottom { padding-bottom: 0px; }
.no-padding-left { padding-left: 0px; }

.no-margin { margin: 0px; }
.no-margin-top { margin-top: 0px; }
.no-margin-right { margin-right: 0px; }
.no-margin-bottom { margin-bottom: 0px; }
.no-margin-left { margin-left: 0px; }

legend {
    margin-bottom: 8px;
}

.mainContent {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.logout {
    /* teporary... */
    position: absolute;
    top: 0px;
    right: 0px;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#loadingCover {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 9999999;
    background: rgba( 0, 0, 0, 0.5 ) url('../images/loader.gif') 50% 50% no-repeat;
}

.verticalDragger {
    background-color: #ddd;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 6px;
    cursor: e-resize;
}
.verticalDragger:hover {
    background-color: #ccc;
}

abbr {
    border-bottom: none !important;
}

fieldset {
    margin-bottom: 15px !important;
}

.ui-widget{ font-size:12px; }

.clear { clear: both; }
.pointer { cursor: pointer; }

/******************* DATATABLES *******************/

.actionIcon {
    cursor: pointer;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.iconWidth {
    width: 22px !important;
}

table#pointItemList > thead > tr > td,
table#pointItemList > tbody > tr > td {
    padding: 5px;
}

table.dataTable tbody td.editable,
table.dataTable tbody th.editable {
    cursor: pointer;
}

/********************** MAP **********************/

.map {
    width: 100%;
    height: 100%;
}

.mapPanel {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 706px;
    right: 0px;
    background-color: #08132F;
}

.listPanel {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 700px;
    background-color: #fefefe;
    overflow-x: auto;
	padding-top: 20px;
}

.listDragger { left: 700px; }

.ui-dialog { 
    z-index: 10000 !important ;
}